<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">

  <module name="TreeWalker">
    <module name="InstanceofUsage"/>
    <module name="StaticUsage"/>
    <module name="DiscouragedMethodCallCheck">
      <property name="checkedMethods" value="main:System.exit,System.in,System.out,System.err"/>
    </module>
    <module name="MemberName">
      <property name="format" value="^m[a-zA-Z0-9]*$"/>
      <message key="name.invalidPattern" value="Member ''{0}'' must start with a lowercase ''m'' (checked pattern ''{1}'')."/>
    </module>
    
    <!-- metrics -->
    <module name="AttributesPerClass"/>
    <module name="MethodsPerClass"/>
    <module name="NumberOfClasses"/>
  </module>

  <module name="MetricListener">
    <property name="file" value="target/metrics.txt"/>
  </module>  
  <module name="VerboseListener">
    <property name="file" value="target/audit.txt"/>
  </module>
  
</module>
      